<!DOCTYPE html>
{% load static %} 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/mystyle.css'%}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.20.0/css/mdb.min.css" rel="stylesheet">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h2 style="color:red">Home Page</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                    <div class="card">
                        <img src="{% static 'images/img2.jpg'%}" style="height:250px" class="img-fluid img-thumbnail" alt="">
                         
                        <div class="card-body bg-light">
                           <p class="lead text-left">
                           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, doloribus.
                         </p>
                        </div>
                    </div>
            </div>
             <div class="col-md-3">
                    <div class="card">
                        <img src="{% static 'images/img1.jpg'%}" style="height:250px" class="img-fluid img-thumbnail" alt="">
                         
                        <div class="card-body bg-light">
                           <p class="lead text-left">
                           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, doloribus.
                         </p>
                        </div>
                    </div>
            </div>
             <div class="col-md-3">
                    <div class="card">
                        <img src="{% static 'images/img3.jpg'%}" style="height:250px" class="img-fluid img-thumbnail" alt="">
                         
                        <div class="card-body bg-light">
                           <p class="lead text-left">
                           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, doloribus.
                         </p>
                        </div>
                    </div>
            </div>
             <div class="col-md-3">
                    <div class="card">
                        <img src="{% static 'images/img4.jpg'%}" style="height:250px" class="img-fluid img-thumbnail" alt="">
                         
                        <div class="card-body bg-light">
                           <p class="lead text-left">
                           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, doloribus.
                         </p>
                        </div>
                    </div>
            </div>
            
        </div>

    </div>











   
</body>
</html>